# For running LLMs hosted by openai (gpt-4o, gpt-4o-mini, etc.)
# Get your OpenAI API key from https://platform.openai.com/
OPENAI_API_KEY=your-openai-api-key

# For running LLMs hosted by groq (deepseek, llama3, etc.)
# Get your Groq API key from https://groq.com/
GROQ_API_KEY=your-groq-api-key

# For running LLMs hosted by anthropic (claude-3-5-sonnet, claude-3-opus, claude-3-5-haiku)
# Get your Anthropic API key from https://anthropic.com/
ANTHROPIC_API_KEY=your-anthropic-api-key

# For getting financial data to power the hedge fund
# Get your Financial Datasets API key from https://financialdatasets.ai/
FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key

# Debug / dev mode
DEBUG_MODE=true

# For IBKR web-api gateway support with ibeam/ibind
# IBKR WEB-API base url
BASE_API_URL=https://localhost:5000/v1/api
# optionally, your (PAPER) account ID !
ACCOUNT_ID=U12345678
# For IBIND integration for docker
IBIND_ACCOUNT_ID=U12345678

# TODO ALPHAVANTAGE - To cover everything Financials API doesn't cover
ALPHAVANTAGE_API_KEY=your-alphavantage-api-key
ALPHAVANTAGE_BASE_API_URL=https://www.alphavantage.co

# Set this to yes to switch seamlessly to IBKR broker to download
# All data you like on any ticker when you're a client on their platform
# For sentimentals FINANCIALDS seems good but ALPHAVANTAGE also has good alternatives
# that are free too
USE_IBKR=False
#
